.sort
	a.sort__toggle(href="#" sort-toggle-js)
		i.icon-font.icon-left-arrow
		p
			span A
			span Z
	.sort__drop(sort-node-js)
		each val, idx in ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
			a.sort__drop-link(href="#")!= val

		.sort__drop-inner
			.sort__collapse
				a.sort__collapse-toggle(href="#" collapse-toggle-js data-container="sort-collapse-1")
					div
						span #1
					div
						img(src="images/images-black-porn-sites.png" srcset='images/images-black-porn-sites@2x.png 2x' alt="")
						p!= '<span>B</span>lack Porn Sites'
					div
						i.icon-font.icon-arrow-angle
				#sort-collapse-1.sort__collapse-body(collapse-body-js)
					button(type='button')
						span Free
					img(src="images/images-badge-premium.png" srcset="images/images-badge-premium@2x.png 2x" alt="")
			.sort__collapse
				a.sort__collapse-toggle(href="#" collapse-toggle-js data-container="sort-collapse-2")
					div
						span #2
					div
						img(src="images/images-blog.png" srcset='images/images-blog@2x.png 2x' alt="")
						p!= 'Porn <span>B</span>logs'
					div
						i.icon-font.icon-arrow-angle
				#sort-collapse-2.sort__collapse-body(collapse-body-js)
					button(type='button')
						span Free
					img(src="images/images-badge-premium.png" srcset="images/images-badge-premium@2x.png 2x" alt="")
			.sort__collapse
				a.sort__collapse-toggle(href="#" collapse-toggle-js data-container="sort-collapse-3")
					div
						span #3
					div
						img(src="images/images-best-webcam-girls.png" srcset='images/images-best-webcam-girls@2x.png 2x' alt="")
						p!= '<span>B</span>est Webcam Girls'
					div
						i.icon-font.icon-arrow-angle
				#sort-collapse-3.sort__collapse-body(collapse-body-js)
					button(type='button')
						span Free
					img(src="images/images-badge-premium.png" srcset="images/images-badge-premium@2x.png 2x" alt="")
			.sort__collapse
				a.sort__collapse-toggle(href="#" collapse-toggle-js data-container="sort-collapse-4")
					div
						span #4
					div
						img(src="images/images-best-adult-ad-networks.png" srcset='images/images-best-adult-ad-networks@2x.png 2x' alt="")
						p!= '<span>B</span>est Adult Ad Networks'
					div
						i.icon-font.icon-arrow-angle
				#sort-collapse-4.sort__collapse-body(collapse-body-js)
					button(type='button')
						span Free
					img(src="images/images-badge-premium.png" srcset="images/images-badge-premium@2x.png 2x" alt="")
